<div class="individual_bmk">

  <b>URL:</b>
  <p><a href="https://<%=@bookmark.url%>/"><%= @bookmark.url %></a></p>

  <b>Title:</b>
  <p><%= @bookmark.title %></p>

  <b>Genre:</b>
  <p><%= @bookmark.genre %></p>

  <b>Details:</b>
  <p><%= @bookmark.details %></p>

  <a href="/bookmarker/<%= @bookmark.id %>/edit"><button type="submit" >Edit my BookMark</button></a>
  <form action="/bookmarker/<%= @bookmark.id %>/delete" method="post"><button type="submit">Delete my BookMark</button></form>

</div>